.menuGeral {
    float: left;
    color: black;
    background-color: aqua;
    text-decoration:none;
    text-align: left;

}

.body{
    background-color:rgb(218, 44, 44);
}


.rodapé{
    background-color:rgb(199, 172, 172);
font-size: 10px;
}